@font-face {
    src: url(fonts\Manrope-VariableFont_wght.ttf);
    font-family: Manrope;
}

@font-face {
    font-family: "Montserrat";
    src: url("/Montserrat-VariableFont_wght.eot");
    src: url("/Montserrat-VariableFont_wght.eot?#iefix") format('embedded-opentype'),
         url("/Montserrat-VariableFont_wght.woff2") format('woff2'),
         url("/Montserrat-VariableFont_wght.woff") format('woff'),
         url("/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 40px 20% 0 20%;
}

/* ---------------- Infos Générales ----------------------- */

h1 {
    font-family: Montserrat;
    font-size: 40px;
    margin: 30px 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 34px;
}

h3 {
    font-family: Manrope;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 24px;
}

.container_img_banniere {
    width: 88%;
    margin: 30px 0;
}

.container_img_carte_belgique {
    width: 100%;
    margin-bottom: 40px;
}

.container_img_pop {
    width: 64%;
}

.container_img_region {
    width: 60%;
}

.container_img_netherlands {
    width: 100%;
}

.container_img_densite {
    width: 60%;
}

.mrg {
    margin: 40px 0px;
}

.container_pop {
    display: flex;
    align-items: center;
}

.container_pop > p{
    margin-left: 46px;
}

.container_region {
    display: flex;
    align-items: center;
}

.container_region > p{
    margin-right: 46px;
}

<<<<<<< HEAD
.container_densite {
    display: flex;
    align-items: center;
}

.container_densite > p{
    margin-left: 46px;
}
=======





>>>>>>> main
